:root{
--color_card_background:#e0e0e0;
--hover_color:rgb(177, 177, 177);
--globalbg_color:#f2f4f5;
--card_hover_color:rgba(80, 80, 80, 0.8);


}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}


.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: #1e2936;
  align-items: center;
  height: 4em;
  z-index: 1000;
}

.header-container > div {
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.header-container > div > img {
  height: 1.75em;
}

.header-container > div > h4 {
  color: white;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  margin-top: 4em;
}

.sidenav {
  position: fixed;
  top: 4em;
  left: 0;
  height: calc(100% - 4em);
  width: 250px;
  background-color: #ffffff;
  z-index: 899;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #595959;
}

@media(max-width:576px){
  .card{
    max-width: 100%;
    margin: 0 15px;
  }

.card body{
  padding: 0rem 1.5rem;
}
}

@keyframes fadeIn {
  from{opacity: 0;transform: translateY(50px);}
  to{opacity: 1;transform: translateY(0px);}
}
.card{
  animation: fadeIn 0.6s ease-out;
  box-shadow: 0 5px 15px var(--color_card_background);
}

.card:hover{
  transform: translateY(-2px);
  box-shadow: 0 8px 16px var(--hover_color),0 8px 16px var(--card_hover_color); 
  transition: all 0.2s ease;

}

.card-title{
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-align: center;
  color: #2c3e50;
  position: relative;
  margin-bottom: 1.25rem;
}
