body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.main-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.top {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.side {
    position: relative;
    background-color: #111;
    height: 100%;
    flex: 0 0 250px;
}

.content {
    padding: 20px;
    flex-grow: 1;
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
    margin-top: 0;
    background-color: #8f9092;
}

.content-header {
    margin-bottom: 20px;
    margin-left: 120px;
    width: 88%;
}

.content-header h1 {
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    margin-left: 120px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.form-container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-container form .form-group {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container form input,
.form-container form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.form-container .form-actions {
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
}

.form-container .form-actions button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.form-container .form-actions button:hover {
    background-color: #004494;
}