body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8f9092;
}

html {
    height: 100%;
}

.main-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.top {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.side {
    position: relative;
    background-color: #111;
    height: 100%;
    flex: 0 0 250px;
}

.content {
    margin-left: 250px;
    padding-top: 80px;
    background-color: #8f9092;
    min-width: 56rem;
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
    display: inline-block;
    justify-content: center;
    align-items: flex-start;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    column-gap: 3em;
}

#title {
    width: auto;
}

#assigned_to {
    width: auto;
}

#sbt-bt-container {
    display: flex;
    justify-content: flex-end;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



button:hover {
    background-color: #004494;
}